{% extends 'index.html' %}
{% load static %}
{% block title %}My Form{% endblock %}
{% block content %}
<h1 style="text-align: center;margin-top: 1rem;">My Form</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <form>
                <div class="form-group">
                    <label for="mytext">My Text</label>
                    <input type="text" id="mytext" name="mytext" class="form-control" style="margin-top: 1rem;">
                </div>
                <div class="form-group" style="margin-top: 1rem;">
                    <label for="mytextarea">My Text Area </label>
                    <textarea id="mytextarea" name="mytextarea" class="form-control" style="margin-top: 1rem;">
                </div>
                <div class="form-group"style="margin-top: 1rem;">
                    <label for="exampleFormControlFile1">Example file input</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
 {% endblock %}